<!DOCTYPE html>
<html lang="en">

<head>{% load staticfiles %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ user.username | title }} - PMC | PassMe Cash Page</title>
  <!-- All CSS -->
  <!-- Main CSS -->
  <link href="{% static 'user/main/css/pmcstyle.css' %}" rel="stylesheet">
  <link href="{% static 'accounts/main/css/profile.css' %}" rel="stylesheet">
  <link href="{% static 'user/main/css/validation.css' %}" rel="stylesheet">
  <link href="{% static 'user/icon/essential/font/flaticon.css' %}" rel="stylesheet">

  <!-- Bootstrap css -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
  <!-- sweetalert-docs -->
  <script src="{% static 'vendor/sweetalert/sweetalert.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'vendor/animatecss/animate.min.css' %}" >

  <link href="{% static 'vendor/flickity/css/added.css' %}" rel="stylesheet">
  

  <!-- All JS -->
  <!-- Main JS -->
  <script src="{% static 'vendor/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'vendor/ajax-jquery/popper.min.js' %}"></script>

<!-- Bootstrap JS -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- jQuery -->
<script src="{% static 'vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery.slim.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery-3.4.1.min.js' %}"></script>


  <script src="{% static 'receiver/main/jsxlocation.js' %}"></script>
  <script src="{% static 'receiver/main/js/jquery-3.4.1.min.js' %}"></script>

  <link rel="stylesheet" href="{% static 'footer.css' %}" >
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  <!-- Loader files -->
  <link href="{% static 'vendor/pacJs/pace.css' %}" rel="stylesheet">
  <script src="{% static 'vendor/pacJs/pace.js' %}"></script>

</head>
{% block foo %}
   {% include "nav.html" %}
{% endblock %}